<?xml version="1.0"?>
<robot name="plate">
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.417" radius="4.167"/>
      </geometry>
      <origin xyz="0 0 0.208" rpy="0 0 0"/>
      <material name="white">
        <color rgba="0.95 0.95 0.95 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.417" radius="4.167"/>
      </geometry>
      <origin xyz="0 0 0.208" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.3"/>
      <origin xyz="0 0 0.208"/>
      <inertia 
        ixx="1.306" ixy="0.0" ixz="0.0"
        iyy="1.306" iyz="0.0"
        izz="2.604"/>
    </inertial>
  </link>
</robot>